<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
    width="100%" viewBox="-0.5 -0.5 799 265">
    <defs />
    <g class="brupop-diagram">
        <rect x="27" y="50" width="210" height="210" class="node" />
        <g class="line-arrow-connector">
            <path d="M 37 105 L 7 105 L 7 180 L 30.63 180" class="connector" />
            <path d="M 35.88 180 L 28.88 183.5 L 30.63 180 L 28.88 176.5 Z" class="arrow-head" />
        </g>
        
        <rect x="37" y="60" width="30" height="90" class="agent" />
        <rect x="77" y="60" width="30" height="90" class="unused-container" />
        <rect x="117" y="60" width="30" height="90" class="unused-container"/>
        <rect x="157" y="60" width="30" height="90" class="unused-container" />
        <rect x="197" y="60" width="30" height="90" class="unused-container" />
        <rect x="37" y="210" width="190" height="40"  class="unused-volume"  />

        <rect x="367" y="50" width="210" height="210" class="node" />
        <rect x="377" y="60" width="30" height="90" class="unused-container" />
        <rect x="417" y="60" width="30" height="90"  class="unused-container" />
        <rect x="457" y="60" width="30" height="90"  class="unused-container" />
        <rect x="497" y="60" width="30" height="90"  class="unused-container"/>
        <rect x="537" y="60" width="30" height="90" class="controller" />

        <rect x="377" y="160" width="190" height="40" class="unused-volume" />
        <rect x="377" y="210" width="190" height="40" class="unused-volume" />
        <ellipse cx="327" cy="155" rx="5" ry="5" class="ellipses" />
        <ellipse cx="302" cy="155" rx="5" ry="5" class="ellipses" />
        <ellipse cx="277" cy="155" rx="5" ry="5" class="ellipses" />

        <rect x="37" y="160" width="190" height="40" class="active-volume" />

        <g transform="translate(-0.5 -0.5)">
            <text x="132" y="184" class="label active-volume-label">Bottlerocket Host</text>
        </g>

        
        <g class="line-arrow-connector">
            <path d="M 544.5 60 L 544.5 20 L 52 20 L 52 53.63" class="connector" />
            <path d="M 52 58.88 L 48.5 51.88 L 52 53.63 L 55.5 51.88 Z" class="arrow-head" />
            
            <path d="M 637 20 L 559.5 20 L 559.5 53.63" class="connector" />
            <path d="M 559.5 58.88 L 556 51.88 L 559.5 53.63 L 563 51.88 Z" class="arrow-head" />
        </g>        

        <g transform="translate(-0.5 -0.5)">
            <text x="718" y="25" class="label outer-label">Kubernetes Control Plane</text>
        </g>

    </g>
</svg>