<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
    width="100%" viewBox="-0.5 -0.5 741 280">
    <defs />
    <g class="brupop-diagram">
        <rect x="0" y="40" width="210" height="210" class="node" />
        <rect x="10" y="50" width="30" height="90" class="agent" />
        <rect x="50" y="50" width="30" height="90" class="unused-container" />
        <rect x="90" y="50" width="30" height="90" class="unused-container" />
        <rect x="130" y="50" width="30" height="90" class="unused-container" />
        <rect x="170" y="50" width="30" height="90" class="unused-container" />

        <rect x="10" y="200" width="190" height="40" class="unused-volume" />
        <g transform="translate(-0.5 -0.5)">
            <text  x="105" y="224" class="label outer-label">Prev Version</text>
        </g>

        <rect x="10" y="150" width="190" height="40" class="active-volume" />
        <g transform="translate(-0.5 -0.5)">
            <text  x="105" y="174" class="label active-volume-label">New Running Version</text>
        </g>
        
        <g transform="translate(-0.5 -0.5)">
            <text x="22" y="269" class="label outer-label">Node 1</text>
        </g>

                
        <g class="wait">
            <ellipse cx="270" cy="161" rx="15" ry="15"  />
            <path d="M 270 147.5 L 270 161 L 262.5 161"  />
        </g>



        <rect x="340" y="40" width="210" height="210" class="node" />
        <rect x="350" y="50" width="30" height="90" class="agent" />
        <rect x="390" y="50" width="30" height="90" class="unused-container" />
        <rect x="430" y="50" width="30" height="90" class="unused-container" />
        <rect x="470" y="50" width="30" height="90" class="unused-container" />
        <rect x="510" y="50" width="30" height="90" class="unused-container" />

        <g class="line-arrow-connector">
            <path d="M 365 50 L 365 20 L 603.63 20" class="connector" />
            <path d="M 608.88 20 L 601.88 23.5 L 603.63 20 L 601.88 16.5 Z" class="arrow-head" />
        </g>
        

        
        <rect x="350" y="200" width="190" height="40" class="unused-volume"/>
        <g transform="translate(-0.5 -0.5)">
            <text  x="445" y="224" class="label outer-label">Prev Version</text>
        </g>

        <rect x="350" y="150" width="190" height="40" class="active-volume" />
        <g transform="translate(-0.5 -0.5)">
            <text x="445" y="174" class="label active-volume-label">New Running Version</text>
        </g>
       
        <g transform="translate(-0.5 -0.5)">
            <text x="362" y="269" class="label outer-label">Node 1</text>
        </g>

        <g transform="translate(-0.5 -0.5)">
            <text x="675" y="23" class="label outer-label">Update state to</text>
        </g>
        
        <g transform="translate(-0.5 -0.5)">
            <text  x="675" y="53" class="label outer-label">Monitoring Update</text>
        </g>
    </g>
</svg>