<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
    width="60%" viewBox="-0.5 -0.5 490 271" role="img">

    <g class="brupop-diagram">
        <defs>
            <pattern patternUnits="userSpaceOnUse" patternTransform="rotate(-45)" id="stripes" width="7" height="7" >
                <rect x="0" y="0" width="7" height="7" />
                <line y1="7"/>
                
            </pattern>
        </defs>
        <rect x="80" y="50" width="210" height="210" class="node" />
        <g class="line-arrow-connector">
            <path d="M 97.5 60 L 97.5 20 L 353.63 20" class="connector" />
            <path d="M 358.88 20 L 351.88 23.5 L 353.63 20 L 351.88 16.5 Z" class="arrow-head" />

            <path d="M 112.5 60 L 112.5 40 L 350 40 L 350 230 L 286.37 230" class="connector" />
            <path d="M 281.12 230 L 288.12 226.5 L 286.37 230 L 288.12 233.5 Z" class="arrow-head" />

            <path d="M 15 26 L 15 230 L 83.63 230"  class="connector" />
            <path d="M 88.88 230 L 81.88 233.5 L 83.63 230 L 81.88 226.5 Z" class="arrow-head" />
        </g>
        
        
        <rect x="90" y="60" width="30" height="90" class="agent" />
        <rect x="130" y="60" width="30" height="90" class="unused-container" />
        <rect x="170" y="60" width="30" height="90" class="unused-container"  />
        <rect x="210" y="60" width="30" height="90" class="unused-container"  />
        <rect x="250" y="60" width="30" height="90" class="unused-container" />
        <rect x="90" y="210" width="190" height="40" class="future-volume"/>
        <g transform="translate(-0.5 -0.5)">
            <text x="185" y="234" class="label active-volume-label">New Version</text>
        </g>
        <rect x="90" y="160" width="190" height="40" class="active-volume" />
        <g transform="translate(-0.5 -0.5)">
            <text x="185" y="184" class="label active-volume-label">Running Version</text>
        </g>

        <rect x="-30" y="105" width="90" height="30" class="label-backer" transform="rotate(-90,15,120)" />
        <g transform="translate(-0.5 -0.5) rotate(-90 15 120)">
            <text x="16" y="124" class="label outer-label">Download</text>
        </g>


        <rect x="305" y="135" width="90" height="40" class="label-backer" />

        <g transform="translate(-0.5 -0.5)">
                <text x="350" y="152" class="label outer-label">Make</text>
                <text x="350" y="167" class="label outer-label">Boot Partition</text>
        </g>
        <xrect x="360" y="0" width="130" height="40" fill="none" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <g transform="translate(-0.5 -0.5)">
                <text   x="425" y="24" class="label outer-label">Update state to</text>
                <text   x="425" y="44" class="label outer-label">Staged &amp; Performed</text>
            </g>
        </g>
        <rect x="360" y="30" width="130" height="40" fill="none" stroke="none" pointer-events="all" />
</svg>