
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
    width="80%" viewBox="-0.5 -0.5 776 240">
    <defs />
    <g class="brupop-state-machine">
        <g class="line-arrow-connector">
            <path d="M 147 207 L 220.63 207" class="connector"/>
            <path d="M 225.88 207 L 218.88 210.5 L 220.63 207 L 218.88 203.5 Z" class="arrow-head" />

            <path d="M 20.63 207 L 7 207 L 7 7 L 767 7 L 767 207 L 747 207" class="connector" />
            <path d="M 25.88 207 L 18.88 210.5 L 20.63 207 L 18.88 203.5 Z" class="arrow-head" />

            <path d="M 347 207 L 420.63 207" class="connector" />
            <path d="M 425.88 207 L 418.88 210.5 L 420.63 207 L 418.88 203.5 Z" class="arrow-head" />

            <path d="M 287 177 L 287 87 L 420.63 87" class="connector dotted" />
            <path d="M 425.88 87 L 418.88 90.5 L 420.63 87 L 418.88 83.5 Z" class="arrow-head" />
            <path d="M 487 177 L 487 123.37" class="connector dotted" />
            <path d="M 487 118.12 L 490.5 125.12 L 487 123.37 L 483.5 125.12 Z" class="arrow-head" />

            <path d="M 547 207 L 620.63 207" class="connector" />
            <path d="M 625.88 207 L 618.88 210.5 L 620.63 207 L 618.88 203.5 Z" class="arrow-head" />

            <path d="M 687 177 L 687 87 L 553.37 87" class="connector dotted" />
            <path d="M 548.12 87 L 555.12 83.5 L 553.37 87 L 555.12 90.5 Z" class="arrow-head" />

            <path d="M 487 57 L 487 37 L 87 37 L 87 170.63" class="connector" />
            <path d="M 87 175.88 L 83.5 168.88 L 87 170.63 L 90.5 168.88 Z" class="arrow-head" />
        </g>
        
        
        
        <rect x="27" y="177" width="120" height="60" class="state" />
        <text x="87" y="211" class="label outer-label">Idle</text>

        <rect x="227" y="177" width="120" height="60" class="state" />
        <text x="287" y="201" class="label outer-label">Staged & Performed</text>
        <text x="287" y="218" class="label outer-label">Update</text>

        <rect x="427" y="177" width="120" height="60" class="state" />
        <text x="487" y="201" class="label outer-label">Rebooted</text>
        <text x="487" y="218" class="label outer-label">into Update</text>

        <rect x="627" y="177" width="120" height="60" class="state" />
        <text x="687" y="201" class="label outer-label">Monitoring</text>
        <text x="687" y="218" class="label outer-label">Update</text>

        
        <rect x="427" y="57" width="120" height="60" class="state" />
        <text x="487" y="91" class="label outer-label">Error Reset</text>
    </g>
</svg>