baseURL = 'http://example.org/'
languageCode = 'en-us'
title = 'Bottlerocket'

defaultContentLanguage = 'all'

[params]
copyright = "Copyright Amazon.com, Inc., its affiliates, or other contributors. All Rights Reserved."
languageOverride = 'all'
brand_link = "../"

[params.ui]
footer_about_disable = true
navbar_logo = false

[params.imports.bottlerocket]
    repo_path = 'bottlerocket'
    repo_human_readable = 'bottlerocket/bottlerocket-os'
    import_url_fragment = "https://github.com/bottlerocket-os/bottlerocket/blob/develop/"


[params.links]

[[params.links.developer]]
	name = "GitHub"
	url = "https://github.com/bottlerocket-os"
	icon = "fab fa-github"
        desc = "The Bottlerocket GitHub Organization"

[module]
  proxy = "direct"
  [module.hugoVersion]
    extended = true
    min = "0.73.0"
  [[module.imports]]
    path = "github.com/google/docsy"
    disable = false
  [[module.imports]]
    path = "github.com/google/docsy/dependencies"
    disable = false


[languages]
  [languages.all]
    contentDir = 'content/all'
    languageName = 'Home'
    weight = 10
  [languages.en]
    contentDir = 'content/en'
    languageName = 'Docs in English'
    weight = 11

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[[menu.main]]
  # This was added to support mutliple languages eventually but start with one only
  # to re-enable, you'll need to uncomment the drop down in /layouts/partials/navbar.html
  name = "Documentation"
  weight = 50
  url = "/en/"

[[menu.main]]
  name = "FAQ"
  weight = 20
  url = "/en/faq/"