@import '_home_svg.scss';


.td-main .br-import {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    @include media-breakpoint-up(md) { 
        padding-top: 5.5rem; 
    }
    &.td-content {
        pre,
        .highlight,
        .lead,
        h1,
        h2,
        ul,
        ol,
        p,
        blockquote,
        dl dd,
        .footnotes,
        .alert {
            max-width: inherit;
        }
    }
}

.featured-figure {
    background-color: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.td-sidebar-nav .td-sidebar-link__page {
    font-family: $td-fonts-serif
}

.td-sidebar-nav__section-title,
header,
h1,h2,h3,h4,h5,h6 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}