<!DOCTYPE html>
<html>
    <head>
        <title>{{ block "title" . }} 
            {{ cond (isset .Params "title") .Params.title "" }}
            {{ cond (isset .Params "title") "|" "" }}
            {{ .Site.Title }} 
        {{ end }}</title>
        <meta charset="utf-8">
    </head>
    <body>
        {{ partial "header.html" . }}
        {{ block "main" . }} {{ end }}
        {{ partial "footer-start.html" . }}
        {{ block "footer" . }} {{ end }}
        {{ partial "footer-end.html" . }}
    </body>
</html>