{{- $setting_id := .Get "id" }}
{{- $setting_full_name := .Get "full_name" -}}
{{- $setting_prefix := .Get "prefix" -}}
{{- $active_tab := cond (eq (.Get "active") true) "show active" "" -}}
{{- $example_type := cond (eq (.Get "toml") true) "TOML" (cond (eq (.Get "yaml") true) "YAML" "apiclient") -}}
{{- $highlighter_type := cond (eq (.Get "toml") true) "toml" (cond (eq (.Get "yaml") true) "yaml" "shell") -}}
{{- $examples := .Get "example" -}}

<div class="tab-pane fade {{ $active_tab }}" id="{{ $setting_id  }}Example{{ $example_type }}Pane" role="tabpanel" aria-labelledby="{{ $setting_id }}-example-{{ $example_type }}-tab">
{{ range $examples }}
    {{ $example_scratch := newScratch }}
    {{ $example := . }}

    {{ if (eq $highlighter_type "toml") }}
        {{ if isset $example "comment" }}
            {{ $example_scratch.Add "out" (print "# " $example.comment "\n") }}
        {{ end }}
        {{ if isset $example "direct_toml"}}
            {{ if (gt (len $example.direct_toml) 0 )}}
                {{ $example_scratch.Add "out" $example.direct_toml }}
            {{ end }}
        {{ else if isset $example "multiline" }}
            {{ $example_scratch.Add "out" (print "[" $setting_full_name "]\n")}}

            {{ range $example.multiline }}
                {{ range $multi_key, $multi_val := . }}
                    {{ $example_scratch.Add "out" (print $multi_key " = " $multi_val "\n") }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ $example_scratch.Add "out" (print "[" $setting_prefix "]\n")}}
            {{ $example_scratch.Add "out" (print $setting_id " = " $example.value) }}
        {{ end }}
    {{ else if (eq $highlighter_type "yaml") }}
        {{ if isset $example "comment" }}
            {{ $example_scratch.Add "out" (print "# " $example.comment "\n") }}
        {{ end }}
        {{ if isset $example "direct_yaml"}}
            {{ if (gt (len $example.direct_yaml) 0 )}}
                {{ $example_scratch.Add "out" $example.direct_yaml }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ if isset $example "direct_shell"}}
            {{ if (gt (len $example.direct_shell) 0 )}}
                {{ $example_scratch.Add "out" $example.direct_shell }}
            {{ end }}
        {{ else }}
            {{ if isset $example "comment" }}
                <i>{{ $example.comment }}</i>
            {{ end }}
            {{ if isset $example "multiline" }}
                {{ $example_scratch.Add "out" (print "apiclient set ")}}
                {{ range $example.multiline }}
                    {{ $line_num := 1 }}
                    {{ $total_lines := len . }}
                    {{ range $multi_key, $multi_val := . }}
                        {{ $example_scratch.Add "out" (print $setting_full_name "." $multi_key "=" $multi_val ) }}
                        {{ $example_scratch.Add "out" (cond (eq $total_lines $line_num) "" " \\ \n \t" ) }}
                        {{ $line_num = add $line_num 1 }}
                    {{ end }}
                {{ end }}
            {{ else }}
                {{/* compound toml examples have [ ] in them, so we have to use a regex to find and render alternately */}}
                {{ if (findRE `\[(.*?)\]` $example.value) }}
                    {{ $example_scratch.Add "out" (print "apiclient apply <<EOF\r\n" ) }}
                    {{ $example_scratch.Add "out" (print "[" $setting_prefix "]\n")}}
                    {{ $example_scratch.Add "out" (print $setting_id " = " $example.value "\n") }}
                    {{ $example_scratch.Add "out" "EOF" }}
                {{ else }}
                    {{ $example_scratch.Add "out" (print "apiclient set " )}}
                    {{ $example_scratch.Add "out" (print $setting_full_name "=" $example.value) }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ highlight ( $example_scratch.Get "out") $highlighter_type }}
{{ end }}
</div>
