{{- $setting_id := .Get "id" }}
{{- $setting_full_name := .Get "full_name" -}}
{{- $example_type := cond (eq (.Get "toml") true) "TOML" (cond (eq (.Get "yaml") true) "YAML" "apiclient") -}}
{{- $highlighter_type := cond (eq (.Get "toml") true) "toml" (cond (eq (.Get "yaml") true) "yaml" "shell") -}}
{{- $active_tab := cond (eq (.Get "active") true) "active" "" -}}
{{- $aria_selected := (eq (.Get "active") true) -}}
<li class="nav-item" role="presentation">
    <button class="nav-link {{ $active_tab }}" id="{{ $setting_id }}-example-{{$example_type}}-tab" data-toggle="tab" data-target="#{{ $setting_id }}Example{{$example_type}}Pane" type="button" role="tab" aria-controls="{{ $example_type }}" aria-selected="{{ $aria_selected }}">{{  $example_type }}</button>
</li>
