<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
    width="100%" viewBox="-0.5 -0.5 808 265">
    <defs />
    <g class="brupop-diagram">
        <rect x="27" y="50" width="210" height="210" class="node" />
        <g class="line-arrow-connector">
            <path d="M 37 105 L 7 105 L 7 180 L 30.63 180" class="connector" />
            <path d="M 35.88 180 L 28.88 183.5 L 30.63 180 L 28.88 176.5 Z" class="arrow-head" />
        </g>
        
        <rect x="37" y="60" width="30" height="90" class="agent" />
        <rect x="77" y="60" width="30" height="90" class="unused-container" />
        <rect x="117" y="60" width="30" height="90" class="unused-container"/>
        <rect x="157" y="60" width="30" height="90" class="unused-container" />
        <rect x="197" y="60" width="30" height="90" class="unused-container" />
        <rect x="37" y="210" width="190" height="40"  class="unused-volume"  />

        <rect x="367" y="50" width="210" height="210" class="node" />
        <rect x="377" y="60" width="30" height="90" class="unused-container" />
        <rect x="417" y="60" width="30" height="90"  class="unused-container" />
        <rect x="457" y="60" width="30" height="90"  class="unused-container" />
        <rect x="497" y="60" width="30" height="90"  class="unused-container"/>
        <path d="M 544.5 60 L 544.5 20 L 52 20 L 52 53.63" fill="none" stroke="rgb(0, 0, 0)"
            stroke-miterlimit="10" pointer-events="stroke" />
        <path d="M 52 58.88 L 48.5 51.88 L 52 53.63 L 55.5 51.88 Z" fill="rgb(0, 0, 0)"
            stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
        <rect x="537" y="60" width="30" height="90" fill="#76608a" stroke="#432d57"
            pointer-events="all" />
        <rect x="377" y="160" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <rect x="377" y="210" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <ellipse cx="327" cy="155" rx="5" ry="5" fill="#b3b3b3" stroke="none" pointer-events="all" />
        <ellipse cx="302" cy="155" rx="5" ry="5" fill="#b3b3b3" stroke="none" pointer-events="all" />
        <ellipse cx="277" cy="155" rx="5" ry="5" fill="#b3b3b3" stroke="none" pointer-events="all" />
        <rect x="37" y="160" width="190" height="40" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 180px; margin-left: 38px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Host
                                OS</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="132" y="184" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Host OS</text>
            </switch>
        </g>
        <path d="M 637 20 L 559.5 20 L 559.5 53.63" fill="none" stroke="rgb(0, 0, 0)"
            stroke-miterlimit="10" pointer-events="stroke" />
        <path d="M 559.5 58.88 L 556 51.88 L 559.5 53.63 L 563 51.88 Z" fill="rgb(0, 0, 0)"
            stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
        <rect x="637" y="0" width="160" height="40" fill="none" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 158px; height: 1px; padding-top: 20px; margin-left: 638px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Kubernetes
                                Control Plane</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="717" y="24" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Kubernetes Control Plane</text>
            </switch>
        </g>
        <rect x="67" y="912" width="210" height="210" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" transform="rotate(180,172,1017)" pointer-events="all" />
        <rect x="77" y="922" width="30" height="90" fill="#6d8764" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="117" y="922" width="30" height="90" fill="none" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="157" y="922" width="30" height="90" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="197" y="922" width="30" height="90" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="237" y="922" width="30" height="90" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="77" y="1072" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 1092px; margin-left: 78px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">New
                                Version</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="172" y="1096" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">New Version</text>
            </switch>
        </g>
        <rect x="77" y="1022" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 1042px; margin-left: 78px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Running
                                Version</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="172" y="1046" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Running Version</text>
            </switch>
        </g>
        <rect x="407" y="912" width="210" height="210" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" transform="rotate(180,512,1017)" pointer-events="all" />
        <path d="M 432 922 L 432 892 L 670.63 892" fill="none" stroke="rgb(0, 0, 0)"
            stroke-miterlimit="10" pointer-events="stroke" />
        <path d="M 675.88 892 L 668.88 895.5 L 670.63 892 L 668.88 888.5 Z" fill="rgb(0, 0, 0)"
            stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
        <rect x="417" y="922" width="30" height="90" fill="#6d8764" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="457" y="922" width="30" height="90" fill="none" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="497" y="922" width="30" height="90" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="537" y="922" width="30" height="90" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="577" y="922" width="30" height="90" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="417" y="1072" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 1092px; margin-left: 418px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Old
                                Version</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="512" y="1096" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Old Version</text>
            </switch>
        </g>
        <rect x="417" y="1022" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 1042px; margin-left: 418px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">New
                                Running Version</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="512" y="1046" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">New Running Version</text>
            </switch>
        </g>
        <path d="M 267 1042 L 410.96 1089.99" fill="none" stroke="rgb(0, 0, 0)"
            stroke-miterlimit="10" pointer-events="stroke" />
        <path d="M 415.94 1091.65 L 408.19 1092.75 L 410.96 1089.99 L 410.41 1086.11 Z"
            fill="rgb(0, 0, 0)" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
        <path d="M 267 1092 L 410.96 1044.01" fill="none" stroke="rgb(0, 0, 0)"
            stroke-miterlimit="10" pointer-events="stroke" />
        <path d="M 415.94 1042.35 L 410.41 1047.89 L 410.96 1044.01 L 408.19 1041.25 Z"
            fill="rgb(0, 0, 0)" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
        <rect x="307" y="1052" width="60" height="30" fill="rgb(255, 255, 255)" stroke="none"
            pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 1067px; margin-left: 337px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: nowrap;">
                                Reboot</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="337" y="1071" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Reboot</text>
            </switch>
        </g>
        <rect x="67" y="1122" width="60" height="30" fill="none" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 58px; height: 1px; padding-top: 1137px; margin-left: 69px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: left;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Node
                                1</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="69" y="1141" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px">Node
                    1</text>
            </switch>
        </g>
        <rect x="407" y="1122" width="60" height="30" fill="none" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 58px; height: 1px; padding-top: 1137px; margin-left: 409px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: left;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Node
                                1</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="409" y="1141" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px">Node
                    1</text>
            </switch>
        </g>
        <rect x="677" y="872" width="130" height="40" fill="none" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 128px; height: 1px; padding-top: 892px; margin-left: 678px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Update
                                state to</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="742" y="896" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Update state to</text>
            </switch>
        </g>
        <rect x="677" y="902" width="130" height="40" fill="none" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 128px; height: 1px; padding-top: 922px; margin-left: 678px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                                <b style="caret-color: rgb(0, 0, 0); text-align: start;">Rebooted
                                    Into Update</b>
                            </div>
                        </div>
                    </div>
                </foreignObject>
                <text x="742" y="926" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Rebooted Into Update</text>
            </switch>
        </g>
        <path
            d="M 181 798 L 176 798 Q 171 798 171 808 L 171 882 Q 171 892 166 892 L 163.5 892 Q 161 892 166 892 L 168.5 892 Q 171 892 171 902 L 171 976 Q 171 986 176 986 L 181 986"
            fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10"
            transform="translate(171,0)scale(-1,1)translate(-171,0)rotate(90,171,892)"
            pointer-events="all" />
        <rect x="71" y="853" width="208" height="30" fill="none" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 206px; height: 1px; padding-top: 868px; margin-left: 72px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Stop
                                new and drain existing worloads </div>
                        </div>
                    </div>
                </foreignObject>
                <text x="175" y="872" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Stop new and drain existing worloa...</text>
            </switch>
        </g>
        <rect x="67" y="1223" width="210" height="210" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" transform="rotate(180,172,1328)" pointer-events="all" />
        <rect x="77" y="1233" width="30" height="90" fill="#6d8764" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="117" y="1233" width="30" height="90" fill="none" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="157" y="1233" width="30" height="90" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <rect x="197" y="1233" width="30" height="90" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <rect x="237" y="1233" width="30" height="90" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <rect x="77" y="1383" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 1403px; margin-left: 78px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Old
                                Version</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="172" y="1407" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Old Version</text>
            </switch>
        </g>
        <rect x="77" y="1333" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 1353px; margin-left: 78px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">New
                                Running Version</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="172" y="1357" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">New Running Version</text>
            </switch>
        </g>
        <rect x="67" y="1433" width="60" height="30" fill="none" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 58px; height: 1px; padding-top: 1448px; margin-left: 69px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: left;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Node
                                1</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="69" y="1452" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px">Node
                    1</text>
            </switch>
        </g>
        <ellipse cx="337" cy="1344" rx="15" ry="15" fill="rgb(255, 255, 255)" stroke="#0080f0"
            stroke-width="2" pointer-events="all" />
        <path d="M 337 1330.5 L 337 1344 L 329.5 1344" fill="none" stroke="#0080f0" stroke-width="2"
            stroke-miterlimit="10" pointer-events="all" />
        <rect x="407" y="1223" width="210" height="210" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" transform="rotate(180,512,1328)" pointer-events="all" />
        <path d="M 432 1233 L 432 1203 L 670.63 1203" fill="none" stroke="rgb(0, 0, 0)"
            stroke-miterlimit="10" pointer-events="stroke" />
        <path d="M 675.88 1203 L 668.88 1206.5 L 670.63 1203 L 668.88 1199.5 Z" fill="rgb(0, 0, 0)"
            stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all" />
        <rect x="417" y="1233" width="30" height="90" fill="#6d8764" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="457" y="1233" width="30" height="90" fill="none" stroke="rgb(0, 0, 0)"
            pointer-events="all" />
        <rect x="497" y="1233" width="30" height="90" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <rect x="537" y="1233" width="30" height="90" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <rect x="577" y="1233" width="30" height="90" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <rect x="417" y="1383" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 1403px; margin-left: 418px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Old
                                Version</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="512" y="1407" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Old Version</text>
            </switch>
        </g>
        <rect x="417" y="1333" width="190" height="40" fill="rgb(255, 255, 255)"
            stroke="rgb(0, 0, 0)" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 188px; height: 1px; padding-top: 1353px; margin-left: 418px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">New
                                Running Version</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="512" y="1357" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">New Running Version</text>
            </switch>
        </g>
        <rect x="407" y="1433" width="60" height="30" fill="none" stroke="none" pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 58px; height: 1px; padding-top: 1448px; margin-left: 409px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: left;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Node
                                1</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="409" y="1452" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px">Node
                    1</text>
            </switch>
        </g>
        <rect x="677" y="1183" width="130" height="40" fill="none" stroke="none"
            pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 128px; height: 1px; padding-top: 1203px; margin-left: 678px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">Update
                                state to</div>
                        </div>
                    </div>
                </foreignObject>
                <text x="742" y="1207" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Update state to</text>
            </switch>
        </g>
        <rect x="677" y="1213" width="130" height="40" fill="none" stroke="none"
            pointer-events="all" />
        <g transform="translate(-0.5 -0.5)">
            <switch>
                <foreignObject pointer-events="none" width="100%" height="100%"
                    requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
                    style="overflow: visible; text-align: left;">
                    <div xmlns="http://www.w3.org/1999/xhtml"
                        style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 128px; height: 1px; padding-top: 1233px; margin-left: 678px;">
                        <div data-drawio-colors="color: rgb(0, 0, 0); "
                            style="box-sizing: border-box; font-size: 0px; text-align: center;">
                            <div
                                style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;">
                                <b style="caret-color: rgb(0, 0, 0); text-align: start;">Monitoring
                                    Update</b>
                            </div>
                        </div>
                    </div>
                </foreignObject>
                <text x="742" y="1237" fill="rgb(0, 0, 0)" font-family="Helvetica" font-size="12px"
                    text-anchor="middle">Monitoring Update</text>
            </switch>
        </g>
    </g>
</svg>