{{- $currentPath := print .Page.File.Dir -}}
{{- /* break apart the path */ -}}
{{- $parts := split $currentPath "/" -}}
{{- /* 1st (base 0) project has the version */ -}}
{{- $path_project := index $parts 0 -}}
{{- $repo := .Get "repo" -}}
{{- $project := .Get "project" | default $path_project -}}
{{- $path := .Get "path" -}}
{{- $tag_commit := index (index $.Site.Data.versions.current $project) "tag_commit" -}}
{{- $github_url := print "https://github.com/" $repo "/blob/" $tag_commit $path }}
<a href="{{ $github_url }}">{{ .Inner }}</a>