<div id="problemReport">
    <hr />
    <small>
        See a problem with this page? <a href="{{ $.Site.Data.repos.website.github_issue_url }}" target="#">File an issue</a>. All feedback is appreciated.<br />
        You can also directly contribute a change to the <a href="{{ $.Site.Data.repos.website.github }}{{ $.Site.Data.repos.website.path_prefix }}{{ $.Site.Data.repos.website.content_path}}/{{ $.Page.File.Lang }}/{{ $.Page.File.Path }}" target="#">source file of this page on GitHub</a>.
    </small>
</div>
<script>
$(document).ready(function() {
    $('#problemReport').detach().appendTo('.td-content');
});
</script>