{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $caption := .Get "caption" -}}
{{- $second_col_width := .Get "colsplit" | default "4" -}}

<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col">
      {{ if isset .Params `src` }}
      <img src="{{$src}}" class="img-fluid" alt="{{$alt}}" />
      {{ end }}
      {{ .Inner }}
    </div>
    <div class="col-{{ $second_col_width }}">
      <span class="align-middle"><em >{{$caption}}</em></span>
    </div>
  </div>
</div>