{{ define "main" }}
    {{ $groups := slice }}
    {{ $headless := .Site.GetPage "/faqitems" }}
    {{ $faqItems := $headless.Resources.Match "*" }}
    {{ range $faqItems }}
        {{ $groups = $groups | append .Params.group }}
    {{ end }}
    {{ $groups = uniq $groups }}
    <div class="td-content br-import">
        {{ range $groups }} 
            {{ $group := . }}
            <h2>{{ $group }}</h2>
            <ol>
            {{ range where $faqItems "Params.group" $group }}
                <li>
                    <h3>{{ .Params.question }}</h3>
                    {{ .Content }}
                </li>
            {{ end }}
            </ol>
            <hr />
        {{ end }}
        
    </div>
{{ end }}
